/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.search-form {
    width: 40px; /* ban đầu chỉ hiển thị icon */
    overflow: hidden;
    transition: width 0.3s;
}

    .search-form:hover {
        width: 100%; /* khi hover mở rộng */
    }

.search-input {
    width: 100%;
    border-radius: 50px 0 0 50px;
    transition: all 0.3s;
    opacity: 0;
    padding-left: 10px;
}

.search-form:hover .search-input {
    opacity: 1;
    padding-left: 15px;
}

.search-btn {
    border-radius: 0 50px 50px 0;
}

